---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h1>Open Source Work</h1>
<li> Natural Language Processing library for Urdu <a href="https://github.com/urduhack/urduhack">Urduhack</a></li>
<li> Implementation of the OAuth Protocol <a href="https://github.com/akkefa/php-oauth-api">php-oauth-api</a></li>
<li> Complete setup with tutorial for deploying Django project on docker setup. <a href="https://github.com/akkefa/django-docker-setup">django-docker-setup</a></li>
<li> Single Page Developer Portfolio Template <a href="https://github.com/akkefa/developer-portfolio">developer-portfolio</a></li>
<li> Docker Environment for building Deep Learning Applications <a href="https://github.com/akkefa/docker-deep-learning-libraries">docker-deep-learning-libraries</a></li>

<h1>Clients</h1>
<li>Search Hundred of travel sites at once <a href="https://www.kayak.com/">Kayak</a></li>
<li>Super Simple Corporate Travel <a href="https://www.lola.com/">Lola</a></li>
<li>Whenever and wherever your people arrive, they will find their room awaiting <a href="https://travellianceinc.com/">Travelliance</a></li>
<li>Best Tea Sellers in Dubai <a href="http://www.tealand.ae/">Tealand</a></li>
<li>Accelerate your future. Learn anywhere, anywhere <a href="https://www.edx.org/">Edx</a></li>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

