---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p> Natural Language Processing library for Urdu <a href="https://github.com/urduhack/urduhack">Urduhack</a></p>
<p> Implementation of the OAuth Protocol <a href="https://github.com/akkefa/php-oauth-api">php-oauth-api</a></p>
<p> Complete setup with tutorial for deploying Django project on docker setup. <a href="https://github.com/akkefa/django-docker-setup">django-docker-setup</a></p>
<p> Single Page Developer Portfolio Template <a href="https://github.com/akkefa/developer-portfolio">developer-portfolio</a></p>
<p> Docker Environment for building Deep Learning Applications <a href="https://github.com/akkefa/docker-deep-learning-libraries">docker-deep-learning-libraries</a></p>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

